# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Arquivos de cache e build
node_modules/
dist/
build/
out/
lib/

# Arquivos de configuração
tsconfig.json
package.json
package-lock.json
yarn.lock

# Arquivos de logs
*.log
*.tmp

# Arquivos de IDE
*.user.js
*.iml
*.idea/

# Outros arquivos
*.swp
__pycache__
# Adicionar outros arquivos ou pastas conforme necessário
